{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "es2015",
    "stage-0",
    "react"
  ],
  "retainLines": true,
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ],
    "transform-runtime",
    "react-hot-loader/babel"
  ]
}